/*Estilos de tu proyecto*/
*{
	margin: 0;
	padding: 0;
}
.container{
	width: 90%;
	margin: auto;
}
header{
	width: 100%;
	height: 70px;
	background-color: rgba(59,0, 104, 0.5);
	position: fixed;
	z-index: 5;
}
nav ul li{
	display: inline;
}
.logo{
	float:left;
	width: 50%;
}
.logo img{
	width: 60px;
	height: 50px;
	margin-left: 3em;
	margin-top:1em;
}
.nabar{
	float: left;
	width:50%;	
	height: 70px;
}
nav{
	margin-left: 20em;
	padding-top: 2em;	
}
nav ul li button{
	background-color: transparent;
	font-family: 'Montserrat';
	border:2px solid #fff;
	width: 90px;
	height: 30px;
	border-radius: 6px;
	color: #fff;

}
nav ul li{
	font-family: 'Montserrat';
	margin: 8px;
	color:#fff;
}
#lyft{
	background-image: url(../assets/images/hero.gif);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	padding-top: 18em;
}
.join{
	background-color:#fff/*orchid*/;
	width: 40%;	
	height: 415px;
	margin-left: 48.2em;
	position: relative;
	bottom:8em;
}
.joinUs{
	padding:5em;
}
.join .joinUs h2{
	font-family: 'Montserrat';
	text-transform: uppercase;
}
.join .joinUs h5{
	font-family: 'Montserrat';
	text-transform: uppercase;
}
.join .joinUs input{
	width:98%;
	margin-top: 10%;
	background:transparent;
	border: none;
	font-family: 'Montserrat';
	border-bottom: 2px solid #76278F;
}
.joinUs button{
	margin-top:40px;
}
.btn{
	width: 180px;
	height: 40px;
	font-family: 'Montserrat';
	background-color:#FF00B9;
	border:0;
	border-radius: 10px;
	color: #fff;
}
.btn2{
	padding-top:40px;
	font-family: 'Montserrat';
}
.letraChica{
	margin-top:30px;
}
.letraChica h6{
	font-family: 'Montserrat';
}
#phone{
	background:linear-gradient(#76278F, #2B1E66);
}

.description{
	float: left;
	padding-top:5%;
	
}
.description .not{
	padding-top: 0!important;
}
.description h3{
	font-family: 'Montserrat';
	text-transform: uppercase;
	color:#fff;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom:  10px;
}

.description p{
	font-family: 'Montserrat';
	color: #fff;
	width: 62%;
}

.cel img{
	width: 35%;
	padding-top:3%;
}


.text1{
	background-color: #fff;
	width: 34%;
	height: 415px;
	float: left;
}
.text1 h2,.title1{
	font-family: 'Montserrat';
	text-transform: uppercase;
	padding-top: 20px;
}
.text1 p{
	font-family: 'Montserrat';
}
.video1{
	float: left;
}
.text2{
	background-color:#fff;
	width: 34%;
	height: 415px;
	float: left;
}
.text2 h2,.title2{
	font-family: 'Montserrat';
	text-transform: uppercase;
	padding-top: 20px;
}
.text2 p{
	font-family: 'Montserrat';
}
.video2{
	float: left;
}
.text3{
	background-color: #fff;
	width: 34%;
	height: 415px;
	float: left;
}
.text3 h2,.title3{
	font-family: 'Montserrat';
	text-transform: uppercase;
	padding-top: 20px;
}
.text3 p{
	font-family: 'Montserrat';
}
.video3{
	float: left;
}

footer{
	background-color: #333447;
}
table{
	width: 100%;
	text-align: center;
	padding-top: 7%;
}
table td img{
	width:90px;
	height: 40px;
}
table td h4{
	font-family: 'Montserrat';
	text-transform: uppercase;
	color:#fff;
}
table td{
	font-family: 'Montserrat';
	color:#fff;
}
table td:hover{
	font-family: 'Montserrat';
	color: #FF00BF;
	
}
.copyrigth{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 2%;
}
.copyrigth p{
	font-family: 'Montserrat';
	color:#fff;
}
.socialMedia{
	text-align: center;
	padding-top: 3%;
}
.icon-social-facebook-circular:before {
	content: "\e900";
	color: #fff;
	font-size: 65px;
	margin:70px;
}
.icon-instagram{
	color: #fff;
	font-size: 30px;
}
.icon-social-twitter-circular:before {
	content: "\e901";
	color: #fff;
	font-size: 65px;
	margin:70px;
}
.fa-instagram{
	margin-top:14px;
}

hr{
	margin: auto;
	width: 70%;
}