/*Estilos de tu proyecto*/
*{
	margin: 0;
	padding: 0;
}

body , html{
	height: 80%;
	
}

header{
	background-color: #471854;
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 5
	
}	

.ancho{
	width: 90%;
	height: 70px;
	background-color:#471854;
	margin: auto;
	
}
.logo{
	width: 65px;
	height: 70px;
	background-color: #471854;
	float: left;
	

}
.logo a img{
   width: 65px;
   height: 45.41px;
   margin-top: 20px;
}

nav{
	background-color: #471854;
	float: left;
	height: 70px;
	width: 30%;
	margin-left: 600px;
	

}

nav ul li {
	display: inline-block;
	margin-top: 30px;
	margin-left:40px;

}

nav ul li a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: #fff;
	
}

.button{
	width: 10%; 
    height: 70px;
    float: left; 
    background: #471854;


}
.button .color{
	margin-top: 20px;
	width: 80px;
	height: 40px;
	margin-left: 17px;
	padding-top: 9px;
	border-radius: 10px;
	border: 1px solid #fff;
}

.button .color p{
	margin-left: 10px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}

/*fin banner*/
/*inicio seccion1*/

.square{
    background-color: #fff;
    width: 550px;
    height: 450px;
    float: right;
    margin-top: 100px;
    position: relative;
    bottom: 630px;

    
}

.square h1{
	font-family: 'Montserrat',sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	margin-left: 60px;
	margin-top: 60px;
	font-weight: bold;
	color: #352384;
}
.square h2{
	font-family: 'Montserrat',sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	margin-left: 60px;
	font-weight: bold;
	color: #352384;
}

.square p{
	color: #352384;
	font-family: 'Montserrat',sans-serif;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	margin-left: 60px;
	margin-top: 20px;
}

.square form input{
	padding-top: 20px;
	margin-left: 60px;
	margin-top: 10px;
	width: 420px;
	border-radius: 0;
	border: 1px solid #984ab2;
}
.b1,.b2{
	display: inline-block;
	margin-left: 60px;
	margin-top: 20px;

}
.b1{
	background-color: #ff00bf;
	width: 200px;
	height: 50px;
	border-radius: 10px;
}
.b1 p.b12{
	text-transform: none;
	font-size: 16px;
	padding-left: 26px;
	margin: 0;
	padding-top: 15px;
	color: #fff;
	letter-spacing: 0;
	font-weight: bold;


}
.b2{
	
	width: 200px;
	height: 50px;
	margin: 0;

}
.b2 p{
	margin: 0;
}
.b2 p.b13 a{
	color: #ff00bf;
	font-size: 16px;
	text-transform: none;
	letter-spacing: 0;
	margin-left: 10px;
}
.condiciones{
 background-color: transparent;
 box-sizing: border-box;
}
.condiciones .con1{
	letter-spacing: 0;
	font-size: 9.6px;
	text-transform: none;

}

.condiciones .con2{
	letter-spacing: 0;
	font-size: 9.6px;
	text-transform: none;
	bottom: 10px;

	
}
#fondo{
	
}
#fondo img{
	/*background-image: url(..assets/images/hero.gif);*/
    background-attachment: contain;
	width: 100%;
	background-size: cover;
	display: flex;


}


/*fin seccion1*/
/*inicio seccion 2*/
#fondo2{
	background-image: linear-gradient(rgb(118, 39, 143),rgb(43,30,102)); 
	height: 680px;
}

.cuadro1{
   width: 398px;
   margin-left: 90px;
   padding-top: 50px



}
.cuadro2{
	position: relative;
	left: 700px;
	bottom: 400px;
}

.cuadro2 img{
	width: 495px;
	height: 512.2px;


}

.t1{
	padding-top: 40px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: 'Montserrat',sans-serif;
	font-size: 28px;
	color: #fff;
}

.t2{
	text-transform: uppercase;
	font-family: 'Montserrat',sans-serif;
	font-size:28px;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #fff;
}

.t3{
	text-transform: uppercase;
	font-family: 'Montserrat',sans-serif;
	font-size: 28px;
	margin-top: 40px;
	color: #fff;
}

.t4{
	text-transform: uppercase;
	font-family: 'Montserrat',sans-serif;
	font-size: 28px;
	margin-bottom: 20px;
	color: #fff;
}

p{
	width: 500px;
	font-family: 'Montserrat',sans-serif;
	font-size: 18px;
	text-decoration: none;
    color: #fff;
}

/*fin seccion1*/
/*inicio seccion2*/

.cuadro3{
	
	width: 320px;
	height: 300px;
	padding-top: 30px;
	margin-left: 90px;
}

.cuadro3 h3{
	font-family: 'Montserrat',sans-serif;
	text-transform: uppercase;
	letter-spacing: normal;
	font-size: 28px;
	color: #000;
	margin-top: 20px;
	margin-bottom: 20px;

}



.cuadro3 p{
	width: 320px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	
	color: #000;

}

#video{
	float: right;
	position: relative;
	bottom: 326px;

}
/*fin seccion2*/
/*inicio seccion3*/
#fondo4{

}

.cuadro4{
	
	width: 320px;
	height: 300px;
	float: right;
	position: relative;
	bottom: 848px;
	margin-right: 90px; 
}

.cuadro4 p{
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
	margin-top: 10px;
	width: 320px;
	color: #000;
}
.cuadro4 h3{
	font-family: 'Montserrat',sans-serif;
	text-transform: uppercase;
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #000;

}

#video2{
	position: relative;
	bottom: 330px;
}
/*fin seccion4*/
/*inicio seccion5*/

.cuadro5{
	width: 320px;
	height: 300px;
	margin-left: 90px;
	position: relative;
	bottom: 343px;
}
.cuadro5 p{
	font-family: 'Montserrat',sans-serif;
	font-size: 16px;
	width: 320px;
	margin-top: 19px;
	color: #000;
}

.cuadro5 h3{
	font-family: 'Montserrat',sans-serif;
	font-size: 28px;
	margin-top: 20px;
	text-transform: uppercase;
	color: #000;
}
#video3{
	float: right;
	position: relative;
	bottom: 644px;
}
/*fin seccion5*/
/*inicio footer*/
#fondo6{
	background-color: #333447;
	height: 100%;

}
.tabla1 a{
	display: block;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    color: #fff;
}

.tabla2 a{
	display: block;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    color: #fff;
}

.tabla3 a{
	display: block;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    color: #fff;	
}

.tabla4 img{
	width: 135px;
	height: 40px;
	display: block;
}

.tabla1 , .tabla2 , .tabla3{
	display: inline-block;
    margin-left: 90px;

}

.tabla1 , .tabla2 , .tabla3 h4{
	font-size: 16px;
	font-family: 'Montserrat',sans-serif;
}

